--extra-index-url https://download.pytorch.org/whl/cu126
transformers
torch
torchaudio
torchvision

rich
pecab
loguru
openai
openpyxl
ebooklib
tiktoken
pykakasi
sudachipy
sudachidict-core
aiolimiter
json-repair
lxml
beautifulsoup4