--extra-index-url https://download.pytorch.org/whl/cu126
transformers
torch
torchaudio
torchvision

rich
httpx
pecab
loguru
openai
openpyxl
tiktoken
pykakasi
sudachipy
sudachidict-core
aiolimiter
json-repair
lxml
beautifulsoup4