transformers
torch --index-url https://download.pytorch.org/whl/cu124
torchaudio --index-url https://download.pytorch.org/whl/cu124
torchvision --index-url https://download.pytorch.org/whl/cu124

onnx==1.16.1
onnxruntime
optimum

rich
pecab
loguru
openai
openpyxl
tiktoken
pykakasi
sudachipy
sudachidict-core
aiolimiter